*{
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

div, span {
  line-height: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ol, ul {
  list-style: none;
}
